<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">
        <title>Find an Replace</title>
    </head>

    <body>
      <div class='container'>
        <div class='jumbotron'>
          <h1>Palindrome Tester</h1>
        </div>

        <div>
          <h2>Enter a word or phrase:</h2>
            <form class='form-group' action='/result' method='post'>
              <div>
                <label for='input'>Word / Phrase:</label>
                <input id='input' name='input' type='text'>
              </div>
              <button class='btn btn-warning' type='submit'>Check!</button>
            </form>
        </div>
    </body>

</html>
